<%- include('./partials/header') %>

      <h2 class="greeting">Hello <%= locals.currentUser.username %></h2>
      <div class="messages-container">
        <% for (let i = 0; i < locals.messages.length; i++) {%>
        <div class="message" data-user=<%= locals.messages[i].user.username %> 
            data-added=<%= locals.messages[i].added.toLocaleString().replace(',', "") %>>
          <p class="text"><%= locals.messages[i].text %></p>
        </div>
        <% } %>
      </div>

      <% if(locals.validationErrors !== undefined) { %>
        <% validationErrors.forEach(err => {  %>
          <p style="color: red;"><%= err.msg %></p>
        <% }) %>
      <% } %>
      
      <form action="#" method="post">
        <h3>Add new message</h3>
        <textarea type="text" name="message" placeholder="Message Text" required></textarea>
        <button type="submit">Add message</button>
      </form>
      <a href="/logout"><button>Log out</button></a>

<%- include('./partials/footer') %>